<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QLCT"
        tools:targetApi="31">
        <activity
            android:name=".select_currency"
            android:exported="false" />
        <activity
            android:name=".Create_Account"
            android:exported="false" />
        <activity
            android:name=".Login_Signin"
            android:exported="false" />
        <activity
            android:name=".My_categories"
            android:exported="false" />
        <activity
            android:name=".email_confirm_save"
            android:exported="false" />
        <activity
            android:name=".verificaiton"
            android:exported="false" />
        <activity
            android:name=".New_email"
            android:exported="false" />
        <activity
            android:name=".NewPassword"
            android:exported="false" />
        <activity
            android:name=".Email_Confirm"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Account"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnalysisDetailExpense"
            android:exported="false" />
        <activity
            android:name=".AnalysisDetailIncome"
            android:exported="false" />
        <activity
            android:name=".AnalysisDetailNetIncome"
            android:exported="false" />
        <activity
            android:name=".AddBudget"
            android:exported="false" />
        <activity
            android:name=".Category_Add"
            android:exported="false" />
        <activity
            android:name=".Share_Wallet"
            android:exported="false"
            android:theme="@style/Theme.QLCT" />
        <activity
            android:name=".Notificaiton"
            android:exported="false" />
        <activity
            android:name=".Home_Wallet_Information"
            android:exported="false" />
        <activity
            android:name=".Home_New_wallet"
            android:exported="false" />
        <activity
            android:name=".Home_My_wallets"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>