<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QLCT"
        tools:targetApi="31">
        <activity
            android:name=".Budget.AdjustBudget"
            android:exported="false" />
        <activity
            android:name=".TransactionDetail"
            android:exported="false" />
        <activity
            android:name=".AddTransaction"
            android:exported="false" />
        <activity
            android:name=".Analysis.AnalysisDetailExpense"
            android:exported="false" />
        <activity
            android:name=".Analysis.AnalysisDetailIncome"
            android:exported="false" />
        <activity
            android:name=".Analysis.AnalysisDetailNetIncome"
            android:exported="false" />
        <activity
            android:name=".Budget.AddBudget"
            android:exported="false" />
        <activity
            android:name=".Category_Add"
            android:exported="false" />
        <activity
            android:name=".Share_Wallet"
            android:exported="false"
            android:theme="@style/Theme.QLCT" />
        <activity
            android:name=".Notification.Notificaiton"
            android:exported="false" />
        <activity
            android:name=".Home.Home_Wallet_Information"
            android:exported="false" />
        <activity
            android:name=".Home.Home_New_wallet"
            android:exported="false" />
        <activity
            android:name=".Home.Home_My_wallets"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>